<div class="main pb-5 pt-5" *ngIf="!displayUserDetails">
    <div class="container p-4  position" style=" max-width:800px;max-height:auto; margin:100px auto;">
        <div class="row border p-4 bg-light shadow" style="box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; border-radius: 20px;" >
            <div class="col-md-6 p-4 col-12 order-md-1  order-2 ">
                <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                    <div class="form-group w-100 ">
                        <label for="exampleInputEmail1">Email address </label>
                        <input type="email" #email="ngModel" (focus)="dnone()"
                            [class.is-invalid]="email.invalid && email.touched" required class="form-control shadow input-sm"
                            id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email" name="email"
                            [ngModel]>

                        <small *ngIf="invalidEmail" class="text-danger">Invalid Email Please Register</small>

                        <div *ngIf="email.invalid && email.touched && email.errors">
                            <small style="font-size: 20px;" *ngIf="email.errors.required" class="text-danger pt-1">Email Required</small>

                        </div>
                    </div>
                    <!-- <span class="glyphicon glyphicon-user"></span> -->
                    <div class="form-group w-100">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" required class="form-control shadow" name="password" [ngModel]
                            id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <!-- <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
                    <button routerLink="" class="btn btn-success ml-md-2 ml-1 mt-md-0 mt-0">Register</button>

                </form>
            </div>
            <div class=" shadow col-md-6  col-12 order-md-2 order-1 backup d-flex align-items-end" style="border-radius: 25px;">
                <p class="text-light font-weight-bolder" style="font-size: 30px;">Hello <br> Welcome <br> Back</p>
            </div>
        </div>
    </div>
</div>

<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>
<div class="container" *ngIf="displayUserDetails">
    <div class="row">
        <div class="col-12">
            <h1 class="text-primary text-center">{{userDetails.username}}</h1><br>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{userDetails.username}}</h4>
                    <p class="card-text">Some example text. Some example text.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>