.backup
{
    background: url(https://media.istockphoto.com/vectors/abstract-technology-background-circuit-board-vector-id1139828676?b=1&k=6&m=1139828676&s=612x612&w=0&h=fvINC80ZLWSE7so6UhpS52iB5wYd-mMquNOH0eOAOOk=);
    background-size: cover;
}
.main
{
    background: url(https://cdn.britannica.com/84/203584-050-57D326E5/speed-internet-technology-background.jpg);
    background-size:cover;
    height:auto;
}